<a href="https://colab.research.google.com/github/joyloruth/Forecasting-Ice-Cream-Sales/blob/master/Data_Cleaning_Ice_Cream_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleaning**

### **Import Python Libraries**

In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.18.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import numpy as np
import os

## **Load Revised Data**


1.   In Excel I converted Celsius column into a Fahrenheit column

In [8]:
icecream =  pd.read_csv("/content/Ice Cream Data Revised.csv", encoding="utf-8")

In [17]:
icecream.columns

Index(['Celsius', 'Revenue', ' Fahrenheit', 'Unnamed: 3'], dtype='object')

## **Preview Data, before preprocessing**

In [18]:
icecream.head()

       Celsius      Revenue   Fahrenheit Unnamed: 3
0  24.56688442  534.7990284  76.22039196        NaN
1  26.00519115  625.1901215  78.80934407        NaN
2  27.79055388  660.6322888  82.02299698        NaN
3  20.59533505  487.7069603  69.07160309        NaN
4  11.50349764  316.2401944  52.70629575        NaN

In [24]:
icecream2.isnull

<bound method DataFrame.isnull of          Celsius      Revenue   Fahrenheit Unnamed: 3
0    24.56688442  534.7990284  76.22039196        NaN
1    26.00519115  625.1901215  78.80934407        NaN
2    27.79055388  660.6322888  82.02299698        NaN
3    20.59533505  487.7069603  69.07160309        NaN
4    11.50349764  316.2401944  52.70629575        NaN
..           ...          ...          ...        ...
525          535           76          136      70-79
526          488           69          109      60-69
527          316           53           65      50-59
528          238           48           31      40-49
529           55           34            5      30-39

[530 rows x 4 columns]>

### **Drop Columns**

**Remove Redundancies**

*   Remove Column "Unnamed: 3" , there are no values in this column

**Remove Null Values**

*   Remove Celsisus column, as it provides the same infromation in the Farhenhiet but in a different metric

In [22]:
icecream = icecream.drop(['Unnamed: 3'], axis = 1)

In [26]:
icecream = icecream.drop(['Celsius'], axis= 1)

In [27]:
icecream.columns

Index(['Revenue', ' Fahrenheit'], dtype='object')

In [29]:
icecream.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Revenue      510 non-null    object
 1    Fahrenheit  510 non-null    object
dtypes: object(2)
memory usage: 8.4+ KB

In [ ]:
icecream = icecream.drop(['Celsius'], axis =1)

In [28]:
icecream

         Revenue   Fahrenheit
0    534.7990284  76.22039196
1    625.1901215  78.80934407
2    660.6322888  82.02299698
3    487.7069603  69.07160309
4    316.2401944  52.70629575
..           ...          ...
525           76          136
526           69          109
527           53           65
528           48           31
529           34            5

[530 rows x 2 columns]

## **Rename Column**

*   Change column name "Fahrenheit" to "Temperature"

In [ ]:
icecream.columns.values

array(['Revenue', ' Fahrenheit'], dtype=object)

In [31]:
column_names = ['Revenue','Temperature']

In [32]:
icecream.columns = column_names

## **Reorder Columns**

In [33]:
reorder_columns = ['Temperature', 'Revenue']

In [34]:
icecream[reorder_columns]

     Temperature      Revenue
0    76.22039196  534.7990284
1    78.80934407  625.1901215
2    82.02299698  660.6322888
3    69.07160309  487.7069603
4    52.70629575  316.2401944
..           ...          ...
525          136           76
526          109           69
527           65           53
528           31           48
529            5           34

[530 rows x 2 columns]